<div class="panel panel-default titulo-categorias">
    <div class="panel-heading">
        <h5 class="panel-title"><b >Categorias</b></h5>
    </div>

        <ul class="list-group" >
            <a href="<%= categoria_path('Comestibles') %>" class="list-group-item" style="outline: medium none;
    border: 0px none" >Comestibles</a>
            <a href="<%= categoria_path('Deportes') %>" class="list-group-item">Deportes</a>
            <a href="<%= categoria_path('Electrodomesticos') %>" class="list-group-item">Electrodomésticos</a>
            <a href="<%= categoria_path('Electronica') %>" class="list-group-item">Electrónica</a>
            <a href="<%= categoria_path('Indumentaria') %>" class="list-group-item">Indumentaria</a>
            <a href="<%= categoria_path('Inmuebles') %>" class="list-group-item">Inmuebles</a>
            <a href="<%= categoria_path('Muebles') %>" class="list-group-item">Muebles</a>
            <a href="<%= categoria_path('Joyeria') %>" class="list-group-item">Joyería</a>
            <a href="<%= categoria_path('Vehiculos') %>" class="list-group-item">Vehículos</a>
            <a href="<%= categoria_path('Otros') %>" class="list-group-item">Otros</a>  
        </ul>
</div>