<body class="fondo">
  <script type="text/javascript" src="public/application-21e73e46790687afdab3e7c436b1bfff.js"></script>
  


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <%= render 'orden' %>
      </div>
      <div class="col-md-4" style="text-align: right">
        <%= render 'filtro' %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-2">
        <%= render 'menu_categorias' %>
      </div>
      <div class="col-md-8">
        <div class="row row-centered ">
          <div class="col-md-12 col-centered">
            <div id="container" class="js-isotope" data-isotope-options='{ "itemSelector": ".item", "getSortData": { "name": ".name", "category": "[data-category]" } }'>
              <div class="ordenador">
                <%@p.all.each do |pub| %>
                <%= render "publication",pub: pub %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <% if user_signed_in? %>
        <%= render "menu_usuario"%>
        <% end %>
      </div>

    </div>
  </div>


</body>

