<body class="fondo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel bestnid-primary">
          <div class="panel-heading">
            <h3><%= @prod.name %> </h3>
          </div>
          <div class="panel-body">
            <div class="col-md-7">
              <div class="well">
                <%= image_tag @prod.image, size: '350x300' ,:alt => @prod.name, :title => @prod.name %>
              </div>
            </div>
            <div class="col-md-5 ">
              <div class="well well-lg">
                <%= @prod.description %>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-6">
                Fecha de publicación: <%= @prod.created_at.strftime("%d %b %y") %>
              </div>
              <div class="col-md-6" style="text-align: right">
                Fecha de vencimiento: <%= @prod.expiration.strftime("%d %b %y") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default widget">
          <div class="panel-heading">
            <h3 class="panel-title"> Comentarios</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <% if @prod.questions.blank? %>
              <li class="list-group-item">
                <p>Aún no hay consultas en esta publicación</p>
              </li>
              <% else %>
              <%@prod.questions.each do |c| %>
              <li class="list-group-item">
                <div class="row">
                  <%= render partial: "forms/question_question", locals: {consult: c} %>
                  <% if user_signed_in? %>
                      <% if (current_user.id == @prod.user_id) and (c.answer.blank?) and Publication.inactivas.con_id(@prod.id).blank? %>
                          <%= render partial: "forms/answer_form", locals: {consult: c} %>
                      <%end%>
                  <%end%>
                  <%= render partial: "forms/question_answer", locals: {consult: c} %>
                </div>
              </li>
              <%end%>
              <%end%>
              <% if user_signed_in? %>
              <% if current_user.id != @prod.user_id %>
              <li class="list-group-item">
                <div class="row">
                  <%= render partial: "forms/question_form", locals: {publicacion: @prod} %>  
                </div>
              </li>
              <%end%>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <% if user_signed_in? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default widget">
          <% if current_user.id == @prod.user_id %>
          <div class="panel-heading">
            <h3 class="panel-title">
              Ofertas que te hicieron</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <% if @prod.offers.blank? %>
                <li class="list-group-item">
                  <p>Aún no hay ofertas en tu publicación</p>
                </li>
                <%else%>
                <%@prod.offers.each do |p| %>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-xs-10 col-md-12">
                      <div class="list-group-item pregunta">
                        <p><b>Necesidad: </b><%= p.necessity %> </p>
                        <p><b>Monto (AR$): </b><%= number_with_precision(p.amount, :precision => 2) %></p>
                        <div class="row">
                          <div class="col-md-10">
                            <div class="mic-info-pregunta">
                              <%= p.created_at.strftime("%d %b %y") %>
                            </div>
                            <%aux= Publication.activas.con_id(@prod.id)%>
                            <% if !@prod.finished and aux.blank? %>
                            <div class="btn btn-default">
                              <%= link_to "Elegir ganadora", publication_elegir_ganador_path(p.publication,p) %>
                            </div>
                            <%end%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <% end %>
                <%end%>
              </ul>
            </div>
            <% elsif @nooferte %>
            <div class="panel-heading">
              <h3 class="panel-title">Haz tu oferta</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <!--li class="list-group-item"-->
                <div class="row">
                      <%= render partial: "forms/new_offer_form", locals: {publicacion: @prod} %>  
                </div>
                <!--/li-->
              </ul>
            </div>
            <%else%>
            <div class="panel-heading">
              <h3 class="panel-title">¡Ya hiciste tu oferta!</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item pregunta" style="word-wrap: break-word">
                  <div class="row">
                    <div class="col-xs-10 col-md-12">
                        <%@mioferta.each do |o| %>
                        <p><b>Necesidad: </b><%= o.necessity %> </p>
                        <p><b>Monto (AR$): </b><%= number_with_precision(o.amount, :precision => 2) %></p>
                        <%end%>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <% end %>
          </div>
        </div>
      </div>  
      <%end%>  
    </div>
  </body>