<div class="container master-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="nav nav-pills">
        <li ><a data-toggle="tab" href="#sectionA">Búsqueda de Usuarios</a></li>
        <li class="active"><a data-toggle="tab" href="#sectionB">Búsqueda de Publicaciones</a></li>
      </ul>
      <br/>
      <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in">
          <div class="panel panel-primary">
            <div class="panel-body">
              <div class="col-md-4">
                <%= render partial: 'users_search_form'%>
              </div>

              <div class="col-md-8 con_separador">
                <%if @todos.nil?%>
                  <h3>Aquí se mostrarán los resultados de su búsqueda.</h3>
                <%else%>
                  <%if  @todos.blank?%>
                    <h3>No hay resultados para su búsqueda</h3>
                  <%else%>
                    <table class="table">
                      <tr>
                        <th>Nombre y apellido</th>
                        <th>Fecha de creación</th>
                      </tr>
                      <% @todos.all.each do |u| %>
                      <tr>
                        <td><%=u.name%> <%=u.last_name%></td>
                        <td><%=u.created_at.strftime("%d/%m/%y a las %T")%></td>
                      </tr>
                      <%end%>
                      <tr>
                        <th>Total de usuarios registrados</td>
                        <th>@todos.length</th>
                      </tr>
                    </table>
                  <%end%> 
                <%end %>
              </div>
            </div>
          </div>
        </div>
        <div id="sectionB" class="tab-pane fade in active">
          <div class="panel panel-primary">
            <div class="panel-body">
              <div class="col-md-4">
                <%= render partial: 'publication_search_form'%>
              </div>

              <div class="col-md-8 con_separador">
                <%if @publicaciones.nil?%>
                    <h3>Aquí se mostrarán los resultados de su búsqueda.</h3>
                <%else%>
                    <%if  @publicaciones.blank?%>
                        <h3>No hay resultados para su búsqueda</h3>
                    <%else%>
                        <table class="table">
                          <tr>
                            <th>Título</th>
                            <th>Fecha de terminación</th>
                            <th>Monto ganado (AR$)</th>
                          </tr>
                          <% total=0 %>
                          <% @publicaciones.all.each do |p| %>
                              <tr>
                                <td><%=p.name%></td>
                                <td><%=p.terminated_date.strftime("%d/%m/%y")%></td>
                                <% monto=p.offers.where("user_id = ?", p.winner_id).first.amount*0.3 %>
                                <td><%= number_with_precision(monto, :precision => 2)%></td>
                                <% total=total + monto%>
                              </tr>
                          <%end%>
                          <tr>
                            <th>Monto total (AR$)</th>
                            <th><%= number_with_precision(total, :precision => 2)%></th>
                          </tr>
                        </table>
                    <%end%>
                <%end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>