<div class="col-xs-10 col-md-12">
	
		<%= simple_form_for ([publicacion, Question.new]),
          html: { class: 'form-inline', style: 'text-align: center'} do |f| %>
          	<%= f.error_notification %>
			<div class="form-inputs">
				<%= f.input :question, required: true, label: false, placeholder: 'Haz tu pregunta...', input_html: { style:'resize:none', size: "109x2"}%>
				<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
			</div>
			<br>
			<div class="form-actions">
				<%= f.button :submit, "Enviar pregunta" %>
			</div>
		<% end %>
	
</div>

<!-- , hint: "Máximo 140 caracteres" -->