<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Filtrar por
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" style="text-align: right">
    <li><a role="menuitem" href="<%= filtro_path('AZ')%>">A-Z</a></li>
    <li><a role="menuitem" href="<%= filtro_path('ZA')%>">Z-A</a></li>
    <li><a role="menuitem" href="<%= filtro_path('Recientes')%>">Fecha</a></li>
    <li><a role="menuitem" href="<%= filtro_path('Venc_prox')%>">Proximos Vencimientos</a></li>
    <li><a role="menuitem" href="<%= filtro_path('Venc_lej')%>">Vencimientos más lejanos</a></li>
  </ul>
</div>
