<div class="panel panel-default titulo-categorias">
	<div class="panel-heading">
		<h5 class="panel-title"><b >¡Bienvenido <%= current_user.name.humanize %>!</b></h5>
	</div>
	<ul class="list-group" >
		<a href="<%= edit_user_registration_path %>" class="list-group-item">Editar Perfil</a>
		<a href="<%= mis_publicacions_path %>" class="list-group-item">Mis Publicaciones</a>
		<a href="<%= new_publication_path %>" class="list-group-item">Nueva Publicacion</a>
    <% if current_user.admin %>
    <a href="<%= statistics_por_post_path %>" class="list-group-item">Estadísticas</a> 
    <%end%>
	</ul>
</div>