<%= simple_form_for @publicacion, url:{action:"create"} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, autofocus: true, label: false, placeholder: 'Titulo' %>
    <%= f.input :description, label: false, input_html: { style:'resize:none', size: "100x9"}, resizable: false, placeholder: 'Descripcion' %>
    <%= f.input :image, label: false, placeholder: 'Link de imagen' %>
    <%= f.input :category, label: 'Elija la categoria del producto', collection: [ "Comestibles", "Deportes", "Electrodomesticos", "Electrónica", "Indumentaria", "Inmuebles", "Muebles", "Joyeria", "Vehiculos", "Otros"], :selected => 'Otros' %>
    <%= f.input :expiration, collection: 15..30, label: 'Duracion de la subasta', :selected => '15' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Publicar" %>
  </div>
<% end %>
