<a href="<%= publication_path(pub) %>" class="item">
	  <div class="thumbnail">
	    <%= image_tag pub.image, :alt =>pub.name, :title =>pub.name %>
	    <div class="caption">
	      <h5 class="name"><b><%= pub.name %></b></h5>
	      <div><h6><%= pub.description.truncate(60,separator: ' ') %></h6></div>
         <p hidden class="date" ><%= pub.created_at.strftime("%d/%m/%y") %></p> 
	      <h6> Vence el: <span class="expiration"><%= pub.expiration.strftime("%d/%m/%y") %></span></h6>
	    </div>
	  </div>
</a>

<!-- size: '260x190' ,-->