<div class="col-xs-10 col-md-12">
	<%= simple_form_for([consult.publication, consult]) do |f| %>
		<%= f.error_notification %>
		<div class="form-inputs">
			<%= f.input :answer, required: true, label: false, placeholder: 'Respuesta...', input_html: { style:'resize:none', size: "100x2"}, resizable: false%>
			<%= f.input :answer_date, :as => :hidden, :input_html => { :value => Time.now }%>
		</div>
		<br>
		<div class="form-actions">
			<%= f.button :submit, "Enviar respuesta" %>
		</div>
	<% end %>
</div>