<div class="col-xs-10 col-md-12">
  <div class="list-group-item">
    <%= simple_form_for [@prod, Offer.new] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :necessity, required: true, label: false, placeholder: 'Describe tu necesidad...', input_html: { style:'resize:none', size: "121x2"}%>
      <%= f.input :amount, required: true, label: 'Ingresa el monto (AR$) que estas dispuesto a pagar' %>
      <%= f.input :security_code, :as=> :password, input_html: { maxlength: 4}, required: true, label: 'Ingrese su código de seguridad' %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
    </div>
    <h4><b>Tus datos actuales son:</b></h4>
    <br>
    <p><b>Número de tarjeta: </b><%= current_user.credit_card_number %></p>
    <p><b>Titular de la tarjeta: </b><%= current_user.credit_card_owner %>
     <p><b>Fecha de vencimiento de la tarjeta: </b><%= current_user.credit_card_expiration_date.strftime("%d/%m/%y") %>
      <div class="form-actions">
        <%= f.button :submit, "Enviar oferta" %>
        <a href="<%= edit_user_registration_path %>" class="btn btn-default">Editar Perfil</a>
      </div>
      <% end %>
    </div>
  </div>