<!DOCTYPE html>
<html>

<head>
  <title>BestnidWeb</title>
  <link rel="shortcut icon" type="image/png" href="https://dl.dropboxusercontent.com/u/97561407/favicon.ico"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div id="principal">

<%= yield %>

</div>

</body>
</html>
